body {
  background-image: url("http://www.livinggarden.info/wp-content/uploads/2014/05/lg_palmenfond-copy-2048x2048.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 3.2em;
  text-align: center;
  font-family: Indie Flower;
  background: linear-gradient(to right, #6baf9c , #dde9abd4);}

#form {
  margin-top: 3em;
}

#note {
  height: 7em;
  width: 20em;
  margin-left: 3em;
}
